body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto','Open Sans', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.container {
    padding-left: 30vw;
}
.profile {
    display: flex;
    position: fixed;
    width: 28vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/profile__background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
.profile__img {
    width: 180px;
    height: 180px;
    background-image: url("../img/profile__img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.profile__name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}
.profile__country {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}
.skills__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    font-weight: 400;
}
.skills__item {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
}
.skills_description {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}
.skills__img {
    width: 120px;
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skills__img--html {
    background-image: url("../img/main__html.png");
}
.skills__img--css {
    background-image: url("../img/main_css.png");
}
.skills__img--javascript {
    background-image: url("../img/main__javascript.jpg");
}
.skills__img--react {
    background-image: url("../img/main__react.png");
}