body {
    margin: 0;
    padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.profile {
    display: flex;
    position: fixed;
    width: 28vw;
    height: 100vh;
    flex-direction: column;
    background-image: url("../img/profile__background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    padding-left: 30vw;
}